* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../images/bg/bg-waterfall/waterfall.png');
  background-size: cover;
  background-position: center; 
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  height: 100vh; 
  height: 100dvh; /* 100% of the viewport height, accounting for dynamic toolbars */
  display: flex;
  justify-content: center;
}
main {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-button {
  cursor: pointer;
  margin-top: 50px;
}
.impressum {
/*  width: 90%; */
  max-width: 810px;
  max-height: 550px;
  outline: #703347 solid 2px;
  color: #703347;
/*  padding: 2%;*/
  position: relative;
  display: grid;
  place-items: center;
/*  display: flex;
/*  justify-content: center;
/*  align-items: center;
/*  background-image: url('../images/bg/button/emptyMap2500.png');
/*  background-repeat: no-repeat;
/*  background-position: center;
/* background-size: contain; */
  img {
    grid-area: 1 / 1;
  }
  .impressum-content {
   /* width: 100%;
   /* margin: 3%; */
    grid-area: 1 / 1;
  /*  display: flex;
  /*  flex-direction: column;
  /*  align-items: center;
  /*  justify-content: center;
    gap: 20px; */
    height: 75%;
    overflow-y: auto;
   /* padding: 20px; */
    margin: 0 15% 5%;
    text-align: left;
  /*  font-size: 1rem; */
    font-size: clamp(0.75rem, 0.3186rem + 1.0349vw, 1.25rem);
    color: #703347;
    outline: #703347 dashed 1px;
  }
}
p {
  margin-bottom: 8px
}

@media (max-width: 1024px) and (orientation: landscape) {
  .impressum-content {
    max-height: 200px;
    overflow-y: auto;
    font-size: 0.75rem;
  }
}