* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../images/bg/bg-waterfall/waterfall.png');
  background-size: cover;
  background-position: center; 
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}
main {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-button {
  cursor: pointer;
  margin-top: 50px;
}
.impressum {
  width: 90%;
  outline: #703347 solid 2px;
  color: #703347;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/bg/button/emptyMap2500.png');
  background-repeat: no-repeat;
  background-position: center;
/* background-size: contain; */
  .impressum-content {
    width: 100%;
    margin: 3%;
  }
}
p {
  margin-bottom: 8px
}