@media only screen and (max-width: 900px) {
    h1 {
        display: none;
    }

    .container {
        height: 400px;
    }

    #restartButton {
        position: absolute;
        top: 20px;
        left: 300px;
    }

    .imagesContainer {
        width: 100%;
        height: auto;
    }

    #canvas {
        width: 100%;
        height: 400px;
    }

    .panelMain {
        display: none !important;
    }

    #controls {
        display: block;
    }

    #panel {
        display: none;
    }

    #panel-wrapper-left {
        position: absolute;
        top: 350px;
        left: 50px;
        display: flex;
        gap: 40px;
    }

    #panel-wrapper-right {
        position: absolute;
        top: 345px;
        left: 560px;
        display: flex;
        gap: 40px;
    }

    #panel-wrapper-top {
        position: absolute;
        top: 20px;
        left: 620px;
        display: flex;
        gap: 25px;
    }

    #btnOptions {
        background-color: transparent;
        color: #9d6868;
        border: none;
        border-radius: 12px;
        font-size: 30px;
        cursor: pointer;
    }

    #muteMusikcButtonSmart,
    #btnLeft,
    #btnRight,
    #btnJump,
    #btnThrow {
        background-color: transparent;
        color: #000000;
        border: none;
        border-radius: 12px;
        font-size: 30px;
        cursor: pointer;
        touch-action: none;
    }

    #impressumScreen {
        width: 100%;
        height: auto;
    }

    .impressumText {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: auto;
        overflow-y: auto;
        scrollbar-width: none;
    }
}

@media only screen and (max-width: 680px) {
    .container {
        height: 375px;
    }

    #canvas {
        width: 100%;
        height: 375px;
    }

    #restartButton {
        position: absolute;
        top: 20px;
        left: 275px;
    }

    #footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: auto;
        display: none;
        padding: 25px   0 0 25px;
    }

    #impressumScreen {
        width: 100%;
        height: auto;
    }

    .impressumText {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: auto;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .impressumButton {
        top: 15px;
    }

    #panel-wrapper-left {
        position: absolute;
        top: 330px;
        left: 20px;
        right: 0;
        display: flex;
        gap: 40px;
    }

    #panel-wrapper-right {
        position: absolute;
        top: 320px;
        right: 0;
        left: 520px;
        display: flex;
        gap: 40px;
    }

    #panel-wrapper-top {
        position: absolute;
        top: 40px;
        right: 0px;
        left: 600px;
        display: flex;
        gap: 25px;
    }
}