/* responsive.css */
.smartphone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: none; 
  place-content: center;
  z-index: 9999;
}

.smartphone img {
  max-width: 480px;
  width: 90%;
  height: auto;
}

/*
  Diese Regel sorgt dafür, dass die "Bitte drehen"-Meldung
  angezeigt wird, sobald das Gerät hochkant gehalten wird.
*/
@media (orientation: portrait) {
  .smartphone {
    display: grid;
  }

  /* Diese Regel versteckt zur Sicherheit alles andere */
  body>*:not(.smartphone) {
    display: none !important;
  }
}

/* --- RESPONSIVE STYLES FÜR QUERFORMAT (landscape) --- */
/* gelten für Tablets und Smartphones im Querforma */
@media (max-width: 1366px) and (orientation: landscape) {

  body {
    gap: 10px; 
    justify-content: flex-start;
    padding: 1vh 0;
    height: auto;
    min-height: 100vh;
  }

  .game-info {
    width: 75%;
  }

  #gameContainer {
    width: 100%; 
    height: 100vh;
  }

  canvas {
    width: 100%;
    height: 100dvh;
  }

  /* Statusleisten anpassen */
  .status-bar-container,
  .status-bar-container.endboss-bar {
    padding: 5px;
    gap: 8px;
    top: 5px;
  }

  .status-bar-container {
    left: 5px;
    .statusBar {
      font-size: 0.9em;
    }
  }

  .buy-life-button {
    margin-left: 10px;
    padding: 0;
  }

  .status-bar-container .endboss-bar {
    width: 150px;
    right: 5px;
  }

  .endboss-bar {
    span {
      font-size: 0.75em;
    }
  }

  /* Balken in der Endboss-Leiste anpassen */
  .status-bar-container .status-bar {
    height: 10px;
  }

  /* Steuerungsbuttons anpassen .game-buttons-container */
  .game-buttons-container {
    display: inline-block;
    .game-buttons {
      padding: 5px 0;
      gap: 5px;
      flex-wrap: wrap;
      .game-button {
        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }
  }

  .audio-button {
    img {
      width: 40px;
    }
  }
  
  .game-over-img,
  .win-overlay-img {
    & .restart-button {
      width: 100px;
      height: 50px;
      bottom: 0;
      left: 10%;
      transform: translateX(-50%);
    }
  }
}

@media (max-height: 460px) and (orientation: landscape) {

  .game-over-img,
  .win-overlay-img {
    & .restart-button {
      width: 100px;
      height: 50px;
      bottom: 0%;
      left: 15%;
      transform: translateX(-50%);
    }
  }
}
@media (min-height: 461px) and (orientation: landscape) {
  .game-over-img,
  .win-overlay-img {
    & .restart-button {
      width: 150px;
      height: 75px;
      bottom: 10%;
      left: 15%;
      transform: translateX(-50%);
    }
  }
}

@media (min-height: 821px) and (orientation: landscape) {
  .game-over-img,
  .win-overlay-img {
    & .restart-button {
      width: 200px;
      height: 100px;
      bottom: 13%;
      left: 15%;
      transform: translateX(-50%);
    }
  }
}